Connected Services/Invoicing_Service/Invoicing_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://anjacreation.in/Service" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://anjacreation.in/Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://anjacreation.in/Service">
      <s:element name="GetSelectedCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelectedCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSelectedCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindState">
        <s:complexType />
      </s:element>
      <s:element name="BindStateResponse">
        <s:complexType />
      </s:element>
      <s:element name="BindHSNCode">
        <s:complexType />
      </s:element>
      <s:element name="BindHSNCodeResponse">
        <s:complexType />
      </s:element>
      <s:element name="ManageProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SKUCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SKUName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ProudctID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="HSNID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManageProductsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSKUDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetSKUDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSKU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SKUID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSKUResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteInvoiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="ManageCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GSTNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StateID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManageCustomersResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomerDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomerDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultState">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerAutoPopulate">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomerAutoPopulateResponse">
        <s:complexType />
      </s:element>
      <s:element name="BindCustomer">
        <s:complexType />
      </s:element>
      <s:element name="BindCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="BindProduct">
        <s:complexType />
      </s:element>
      <s:element name="BindProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSelectedProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PartyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelectedProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertUpdateSaleInvoiceMaster">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parmSaleInvoiceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parmInvoiceNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parmInvoiceDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="parmStateID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmPartyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmTotalAmtBeforeTax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmDiscountAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmIGST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmCGST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmSGST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmGST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmCGST_Percent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmSGST_Percent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmIGST_Percent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmAmountAfterGST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmCreatedBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmModifiedBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUpdateSaleInvoiceMasterResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertUpdateSalesDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostedData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUpdateSalesDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ManageMyProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GSTNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StateID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TNC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IFSCCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BranchName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManageMyProfileResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMyProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyProfileResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPartPaymentList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PaymentStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartPaymentListResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertPartPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentMode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChequeNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="PayAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPartPaymentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPartPaymentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartPaymentDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ManageHSNCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HSNCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HSNDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CGST" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="SGST" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="IGST" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="HSNID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ManageHSNCodeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetHSNDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetHSNDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletedHSNCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HSNID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletedHSNCodeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInvoiceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInvoiceDetailsByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceDetailsByIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="ForgotEmailIDData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForgotEmailID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgotEmailIDDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendForgotPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForgotEmailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendForgotPassResponse">
        <s:complexType />
      </s:element>
      <s:element name="SaveOtherInfoiceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parmInvoiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmReverseCharge" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmTransportation_Mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmVehicle_Number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmConsignee_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmConsignee_GST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmConsignee_StateID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmConsignee_Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parmSupplyDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="parmConsignee_PAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parmPlaceofSupply" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveOtherInfoiceDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetReportData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PartyID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindCGST">
        <s:complexType />
      </s:element>
      <s:element name="BindCGSTResponse">
        <s:complexType />
      </s:element>
      <s:element name="BindSGST">
        <s:complexType />
      </s:element>
      <s:element name="BindSGSTResponse">
        <s:complexType />
      </s:element>
      <s:element name="BindIGST">
        <s:complexType />
      </s:element>
      <s:element name="BindIGSTResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSalesDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInvoiceNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invoiceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBindInvoiceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invoiceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBindInvoiceDetailsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSelectedCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelectedCustomer" />
  </wsdl:message>
  <wsdl:message name="GetSelectedCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelectedCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="BindStateSoapIn">
    <wsdl:part name="parameters" element="tns:BindState" />
  </wsdl:message>
  <wsdl:message name="BindStateSoapOut">
    <wsdl:part name="parameters" element="tns:BindStateResponse" />
  </wsdl:message>
  <wsdl:message name="BindHSNCodeSoapIn">
    <wsdl:part name="parameters" element="tns:BindHSNCode" />
  </wsdl:message>
  <wsdl:message name="BindHSNCodeSoapOut">
    <wsdl:part name="parameters" element="tns:BindHSNCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ManageProductsSoapIn">
    <wsdl:part name="parameters" element="tns:ManageProducts" />
  </wsdl:message>
  <wsdl:message name="ManageProductsSoapOut">
    <wsdl:part name="parameters" element="tns:ManageProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSKUDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSKUDetails" />
  </wsdl:message>
  <wsdl:message name="GetSKUDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSKUDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSKUSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSKU" />
  </wsdl:message>
  <wsdl:message name="DeleteSKUSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSKUResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteInvoice" />
  </wsdl:message>
  <wsdl:message name="DeleteInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ManageCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:ManageCustomers" />
  </wsdl:message>
  <wsdl:message name="ManageCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:ManageCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefaultState" />
  </wsdl:message>
  <wsdl:message name="GetDefaultStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefaultStateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerAutoPopulateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerAutoPopulate" />
  </wsdl:message>
  <wsdl:message name="GetCustomerAutoPopulateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerAutoPopulateResponse" />
  </wsdl:message>
  <wsdl:message name="BindCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:BindCustomer" />
  </wsdl:message>
  <wsdl:message name="BindCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:BindCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="BindProductSoapIn">
    <wsdl:part name="parameters" element="tns:BindProduct" />
  </wsdl:message>
  <wsdl:message name="BindProductSoapOut">
    <wsdl:part name="parameters" element="tns:BindProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectedProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelectedProduct" />
  </wsdl:message>
  <wsdl:message name="GetSelectedProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelectedProductResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUpdateSaleInvoiceMasterSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUpdateSaleInvoiceMaster" />
  </wsdl:message>
  <wsdl:message name="InsertUpdateSaleInvoiceMasterSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUpdateSaleInvoiceMasterResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUpdateSalesDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUpdateSalesDetails" />
  </wsdl:message>
  <wsdl:message name="InsertUpdateSalesDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUpdateSalesDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ManageMyProfileSoapIn">
    <wsdl:part name="parameters" element="tns:ManageMyProfile" />
  </wsdl:message>
  <wsdl:message name="ManageMyProfileSoapOut">
    <wsdl:part name="parameters" element="tns:ManageMyProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyProfile" />
  </wsdl:message>
  <wsdl:message name="GetMyProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartPaymentListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartPaymentList" />
  </wsdl:message>
  <wsdl:message name="GetPartPaymentListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartPaymentListResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPartPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPartPayment" />
  </wsdl:message>
  <wsdl:message name="InsertPartPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPartPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartPaymentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartPaymentDetails" />
  </wsdl:message>
  <wsdl:message name="GetPartPaymentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartPaymentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ManageHSNCodeSoapIn">
    <wsdl:part name="parameters" element="tns:ManageHSNCode" />
  </wsdl:message>
  <wsdl:message name="ManageHSNCodeSoapOut">
    <wsdl:part name="parameters" element="tns:ManageHSNCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetHSNDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHSNDetails" />
  </wsdl:message>
  <wsdl:message name="GetHSNDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHSNDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DeletedHSNCodeSoapIn">
    <wsdl:part name="parameters" element="tns:DeletedHSNCode" />
  </wsdl:message>
  <wsdl:message name="DeletedHSNCodeSoapOut">
    <wsdl:part name="parameters" element="tns:DeletedHSNCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailsByID" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceDetailsByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ForgotEmailIDDataSoapIn">
    <wsdl:part name="parameters" element="tns:ForgotEmailIDData" />
  </wsdl:message>
  <wsdl:message name="ForgotEmailIDDataSoapOut">
    <wsdl:part name="parameters" element="tns:ForgotEmailIDDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendForgotPassSoapIn">
    <wsdl:part name="parameters" element="tns:SendForgotPass" />
  </wsdl:message>
  <wsdl:message name="SendForgotPassSoapOut">
    <wsdl:part name="parameters" element="tns:SendForgotPassResponse" />
  </wsdl:message>
  <wsdl:message name="SaveOtherInfoiceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:SaveOtherInfoiceDetails" />
  </wsdl:message>
  <wsdl:message name="SaveOtherInfoiceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:SaveOtherInfoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportData" />
  </wsdl:message>
  <wsdl:message name="GetReportDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="BindCGSTSoapIn">
    <wsdl:part name="parameters" element="tns:BindCGST" />
  </wsdl:message>
  <wsdl:message name="BindCGSTSoapOut">
    <wsdl:part name="parameters" element="tns:BindCGSTResponse" />
  </wsdl:message>
  <wsdl:message name="BindSGSTSoapIn">
    <wsdl:part name="parameters" element="tns:BindSGST" />
  </wsdl:message>
  <wsdl:message name="BindSGSTSoapOut">
    <wsdl:part name="parameters" element="tns:BindSGSTResponse" />
  </wsdl:message>
  <wsdl:message name="BindIGSTSoapIn">
    <wsdl:part name="parameters" element="tns:BindIGST" />
  </wsdl:message>
  <wsdl:message name="BindIGSTSoapOut">
    <wsdl:part name="parameters" element="tns:BindIGSTResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesDetails" />
  </wsdl:message>
  <wsdl:message name="GetSalesDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceNumber" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetBindInvoiceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBindInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="GetBindInvoiceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBindInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="Invoicing_ServiceSoap">
    <wsdl:operation name="GetSelectedCustomer">
      <wsdl:input message="tns:GetSelectedCustomerSoapIn" />
      <wsdl:output message="tns:GetSelectedCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindState">
      <wsdl:input message="tns:BindStateSoapIn" />
      <wsdl:output message="tns:BindStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindHSNCode">
      <wsdl:input message="tns:BindHSNCodeSoapIn" />
      <wsdl:output message="tns:BindHSNCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ManageProducts">
      <wsdl:input message="tns:ManageProductsSoapIn" />
      <wsdl:output message="tns:ManageProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSKUDetails">
      <wsdl:input message="tns:GetSKUDetailsSoapIn" />
      <wsdl:output message="tns:GetSKUDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSKU">
      <wsdl:input message="tns:DeleteSKUSoapIn" />
      <wsdl:output message="tns:DeleteSKUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInvoice">
      <wsdl:input message="tns:DeleteInvoiceSoapIn" />
      <wsdl:output message="tns:DeleteInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ManageCustomers">
      <wsdl:input message="tns:ManageCustomersSoapIn" />
      <wsdl:output message="tns:ManageCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetails">
      <wsdl:input message="tns:GetCustomerDetailsSoapIn" />
      <wsdl:output message="tns:GetCustomerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input message="tns:DeleteCustomerSoapIn" />
      <wsdl:output message="tns:DeleteCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultState">
      <wsdl:input message="tns:GetDefaultStateSoapIn" />
      <wsdl:output message="tns:GetDefaultStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAutoPopulate">
      <wsdl:input message="tns:GetCustomerAutoPopulateSoapIn" />
      <wsdl:output message="tns:GetCustomerAutoPopulateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindCustomer">
      <wsdl:input message="tns:BindCustomerSoapIn" />
      <wsdl:output message="tns:BindCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindProduct">
      <wsdl:input message="tns:BindProductSoapIn" />
      <wsdl:output message="tns:BindProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedProduct">
      <wsdl:input message="tns:GetSelectedProductSoapIn" />
      <wsdl:output message="tns:GetSelectedProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateSaleInvoiceMaster">
      <wsdl:input message="tns:InsertUpdateSaleInvoiceMasterSoapIn" />
      <wsdl:output message="tns:InsertUpdateSaleInvoiceMasterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateSalesDetails">
      <wsdl:input message="tns:InsertUpdateSalesDetailsSoapIn" />
      <wsdl:output message="tns:InsertUpdateSalesDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ManageMyProfile">
      <wsdl:input message="tns:ManageMyProfileSoapIn" />
      <wsdl:output message="tns:ManageMyProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyProfile">
      <wsdl:input message="tns:GetMyProfileSoapIn" />
      <wsdl:output message="tns:GetMyProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartPaymentList">
      <wsdl:input message="tns:GetPartPaymentListSoapIn" />
      <wsdl:output message="tns:GetPartPaymentListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPartPayment">
      <wsdl:input message="tns:InsertPartPaymentSoapIn" />
      <wsdl:output message="tns:InsertPartPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartPaymentDetails">
      <wsdl:input message="tns:GetPartPaymentDetailsSoapIn" />
      <wsdl:output message="tns:GetPartPaymentDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ManageHSNCode">
      <wsdl:input message="tns:ManageHSNCodeSoapIn" />
      <wsdl:output message="tns:ManageHSNCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHSNDetails">
      <wsdl:input message="tns:GetHSNDetailsSoapIn" />
      <wsdl:output message="tns:GetHSNDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletedHSNCode">
      <wsdl:input message="tns:DeletedHSNCodeSoapIn" />
      <wsdl:output message="tns:DeletedHSNCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <wsdl:input message="tns:GetInvoiceDetailsSoapIn" />
      <wsdl:output message="tns:GetInvoiceDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetailsByID">
      <wsdl:input message="tns:GetInvoiceDetailsByIDSoapIn" />
      <wsdl:output message="tns:GetInvoiceDetailsByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForgotEmailIDData">
      <wsdl:input message="tns:ForgotEmailIDDataSoapIn" />
      <wsdl:output message="tns:ForgotEmailIDDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendForgotPass">
      <wsdl:input message="tns:SendForgotPassSoapIn" />
      <wsdl:output message="tns:SendForgotPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveOtherInfoiceDetails">
      <wsdl:input message="tns:SaveOtherInfoiceDetailsSoapIn" />
      <wsdl:output message="tns:SaveOtherInfoiceDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportData">
      <wsdl:input message="tns:GetReportDataSoapIn" />
      <wsdl:output message="tns:GetReportDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindCGST">
      <wsdl:input message="tns:BindCGSTSoapIn" />
      <wsdl:output message="tns:BindCGSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindSGST">
      <wsdl:input message="tns:BindSGSTSoapIn" />
      <wsdl:output message="tns:BindSGSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindIGST">
      <wsdl:input message="tns:BindIGSTSoapIn" />
      <wsdl:output message="tns:BindIGSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesDetails">
      <wsdl:input message="tns:GetSalesDetailsSoapIn" />
      <wsdl:output message="tns:GetSalesDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceNumber">
      <wsdl:input message="tns:GetInvoiceNumberSoapIn" />
      <wsdl:output message="tns:GetInvoiceNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBindInvoiceDetails">
      <wsdl:input message="tns:GetBindInvoiceDetailsSoapIn" />
      <wsdl:output message="tns:GetBindInvoiceDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Invoicing_ServiceSoap" type="tns:Invoicing_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSelectedCustomer">
      <soap:operation soapAction="http://anjacreation.in/Service/GetSelectedCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindState">
      <soap:operation soapAction="http://anjacreation.in/Service/BindState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindHSNCode">
      <soap:operation soapAction="http://anjacreation.in/Service/BindHSNCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageProducts">
      <soap:operation soapAction="http://anjacreation.in/Service/ManageProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSKUDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/GetSKUDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSKU">
      <soap:operation soapAction="http://anjacreation.in/Service/DeleteSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInvoice">
      <soap:operation soapAction="http://anjacreation.in/Service/DeleteInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageCustomers">
      <soap:operation soapAction="http://anjacreation.in/Service/ManageCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/GetCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://anjacreation.in/Service/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://anjacreation.in/Service/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultState">
      <soap:operation soapAction="http://anjacreation.in/Service/GetDefaultState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAutoPopulate">
      <soap:operation soapAction="http://anjacreation.in/Service/GetCustomerAutoPopulate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindCustomer">
      <soap:operation soapAction="http://anjacreation.in/Service/BindCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindProduct">
      <soap:operation soapAction="http://anjacreation.in/Service/BindProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedProduct">
      <soap:operation soapAction="http://anjacreation.in/Service/GetSelectedProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateSaleInvoiceMaster">
      <soap:operation soapAction="http://anjacreation.in/Service/InsertUpdateSaleInvoiceMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateSalesDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/InsertUpdateSalesDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageMyProfile">
      <soap:operation soapAction="http://anjacreation.in/Service/ManageMyProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyProfile">
      <soap:operation soapAction="http://anjacreation.in/Service/GetMyProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartPaymentList">
      <soap:operation soapAction="http://anjacreation.in/Service/GetPartPaymentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPartPayment">
      <soap:operation soapAction="http://anjacreation.in/Service/InsertPartPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartPaymentDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/GetPartPaymentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageHSNCode">
      <soap:operation soapAction="http://anjacreation.in/Service/ManageHSNCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHSNDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/GetHSNDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletedHSNCode">
      <soap:operation soapAction="http://anjacreation.in/Service/DeletedHSNCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetailsByID">
      <soap:operation soapAction="http://anjacreation.in/Service/GetInvoiceDetailsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotEmailIDData">
      <soap:operation soapAction="http://anjacreation.in/Service/ForgotEmailIDData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendForgotPass">
      <soap:operation soapAction="http://anjacreation.in/Service/SendForgotPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOtherInfoiceDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/SaveOtherInfoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportData">
      <soap:operation soapAction="http://anjacreation.in/Service/GetReportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindCGST">
      <soap:operation soapAction="http://anjacreation.in/Service/BindCGST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindSGST">
      <soap:operation soapAction="http://anjacreation.in/Service/BindSGST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindIGST">
      <soap:operation soapAction="http://anjacreation.in/Service/BindIGST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/GetSalesDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceNumber">
      <soap:operation soapAction="http://anjacreation.in/Service/GetInvoiceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBindInvoiceDetails">
      <soap:operation soapAction="http://anjacreation.in/Service/GetBindInvoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Invoicing_ServiceSoap12" type="tns:Invoicing_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSelectedCustomer">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetSelectedCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindState">
      <soap12:operation soapAction="http://anjacreation.in/Service/BindState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindHSNCode">
      <soap12:operation soapAction="http://anjacreation.in/Service/BindHSNCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageProducts">
      <soap12:operation soapAction="http://anjacreation.in/Service/ManageProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSKUDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetSKUDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSKU">
      <soap12:operation soapAction="http://anjacreation.in/Service/DeleteSKU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInvoice">
      <soap12:operation soapAction="http://anjacreation.in/Service/DeleteInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageCustomers">
      <soap12:operation soapAction="http://anjacreation.in/Service/ManageCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://anjacreation.in/Service/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://anjacreation.in/Service/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultState">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetDefaultState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAutoPopulate">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetCustomerAutoPopulate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindCustomer">
      <soap12:operation soapAction="http://anjacreation.in/Service/BindCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindProduct">
      <soap12:operation soapAction="http://anjacreation.in/Service/BindProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedProduct">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetSelectedProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateSaleInvoiceMaster">
      <soap12:operation soapAction="http://anjacreation.in/Service/InsertUpdateSaleInvoiceMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateSalesDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/InsertUpdateSalesDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageMyProfile">
      <soap12:operation soapAction="http://anjacreation.in/Service/ManageMyProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyProfile">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetMyProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartPaymentList">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetPartPaymentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPartPayment">
      <soap12:operation soapAction="http://anjacreation.in/Service/InsertPartPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartPaymentDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetPartPaymentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManageHSNCode">
      <soap12:operation soapAction="http://anjacreation.in/Service/ManageHSNCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHSNDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetHSNDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletedHSNCode">
      <soap12:operation soapAction="http://anjacreation.in/Service/DeletedHSNCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetailsByID">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetInvoiceDetailsByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotEmailIDData">
      <soap12:operation soapAction="http://anjacreation.in/Service/ForgotEmailIDData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendForgotPass">
      <soap12:operation soapAction="http://anjacreation.in/Service/SendForgotPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOtherInfoiceDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/SaveOtherInfoiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportData">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindCGST">
      <soap12:operation soapAction="http://anjacreation.in/Service/BindCGST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindSGST">
      <soap12:operation soapAction="http://anjacreation.in/Service/BindSGST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindIGST">
      <soap12:operation soapAction="http://anjacreation.in/Service/BindIGST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetSalesDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceNumber">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetInvoiceNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBindInvoiceDetails">
      <soap12:operation soapAction="http://anjacreation.in/Service/GetBindInvoiceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Invoicing_Service">
    <wsdl:port name="Invoicing_ServiceSoap" binding="tns:Invoicing_ServiceSoap">
      <soap:address location="http://localhost:15464/Service/Invoicing_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Invoicing_ServiceSoap12" binding="tns:Invoicing_ServiceSoap12">
      <soap12:address location="http://localhost:15464/Service/Invoicing_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>